@use "src/scss/tools/rem-calc" as fn;

:host {
  .presentation {
    height: 100vh;

    a {
      margin-top: 10px;
      width: 666px;

      &.formas-de-pagamento {
        border: 5px solid var(--primary);
        background: #ffffff;

        img {
          transform: scale(1.2);
        }
      }

      &.btn-itau {
        background: #ec7000;
        color: #ffffff;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        img {
          margin-right: 20px;
        }
      }
    }
  }
}
