<div *ngIf="loadingSpiner" class="container__full-page">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<main class="container p-bottom-5" *ngIf="!loadingSpiner && getFeatureToggle">
  <section class="row">
    <h1 class="col-7">Feature: {{ getFeatureToggle.projectName }}</h1>

    <div class="col-5 d-flex justify-content-end align-items-center">
      <button class="btn btn-border m-right-1" (click)="openDialogEdit()">
        Alterar ambientes
      </button>

      <button class="btn btn-border m-right-1" (click)="openDialogImplement()">
        Implementar
      </button>

      <button class="btn btn-primary" *ngIf="getEnabledSave" (click)="update()">
        Salvar
      </button>
    </div>
  </section>

  <form class="row container__toggle-itens m-top-3">
    <section
      class="row"
      *ngFor="
        let itens of getFeatureToggle.itensEnvironment;
        let indexEnv = index
      "
    >
      <h3>Ambiente de: {{ itens.env }}</h3>

      <label *ngFor="let toggleItens of itens.toggle; let indexToggle = index">
        {{ toggleItens.name }}

        <mat-slide-toggle
          name="feature-toggle"
          [checked]="toggleItens.value"
          (change)="setEnabledOrDisabledSave($event, indexEnv, indexToggle)"
        >
        </mat-slide-toggle>
      </label>
    </section>
  </form>

  <section
    class="row d-flex justify-content-end align-items-center m-top-3"
    *ngIf="getEnabledSave"
  >
    <h2>Não se esqueça de salvar suas alterações</h2>

    <button class="btn btn-primary" (click)="update()">Salvar</button>
  </section>
</main>
