@use "src/scss/tools/rem-calc" as fn;

:host {
  .container {
    &__toggle-itens {
      width: 100%;
      padding: fn.rem-calc(35);
      border-radius: fn.rem-calc(10);
      background-color: var(--white);

      h3 {
        padding: fn.rem-calc(15);
        background-color: var(--primary);
      }

      section {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        label {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: fn.rem-calc(10) fn.rem-calc(15);
        }
      }
    }
  }
}
