@use "src/scss/tools/rem-calc" as fn;

.btn,
.btn-square {
  border-radius: var(--border-radius);
  cursor: pointer;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: fn.rem-calc(50);
  font-size: fn.rem-calc(16) !important;
}

.btn {
  padding: fn.rem-calc(15) fn.rem-calc(30);

  &-dashed {
    border: fn.rem-calc(1) dashed;

    &:hover {
      background-color: var(--darken-background);
    }
  }

  &-border {
    border: fn.rem-calc(1) solid;

    &:hover {
      background-color: var(--darken-background);
    }
  }

  &-primary {
    background-color: var(--primary);

    &:hover {
      background-color: var(--darken-primary);
    }
  }

  &-error {
    background-color: var(--error);
    color: var(--white);
    &:hover {
      background-color: var(--darken-error);
    }
  }
}

.btn {
  &.btn-square {
    width: fn.rem-calc(130);
    height: fn.rem-calc(130);

    &-primary {
      background-color: var(--primary);

      &:hover {
        background-color: var(--darken-primary);
      }
    }

    &-error {
      background-color: var(--error);

      &:hover {
        background-color: var(--darken-error);
      }
    }
  }
}
