@use "src/scss/tools/rem-calc" as function;

:root {
  --background: #f5f5f7;
  --darken-background: #{darken(#f5f5f7, 10%)};

  --white: #fff;
  --black: #1b2e35;

  --primary: #5ae4a8;
  --darken-primary: #{darken(#5ae4a8, 20%)};

  --secondary: #6675ff;
  --darken-secondary: #{darken(#6675ff, 20%)};

  --error: #ff004f;
  --darken-error: #{darken(#ff004f, 20%)};

  --100-heigth: #{calc(100vh - #{function.rem-calc(117)})};
  --border-radius: #{function.rem-calc(10)};
}
